h1 {
    color: lawngreen;
  }
  p{
    color: chartreuse;
  }
  span{
    padding: 20px;
    border: 2px solid mediumturquoise;
    cursor: pointer;
    margin: 12px;
    color: mediumspringgreen;
    border: 1px solid greenyellow;
  }
  body{
    background-color: darkolivegreen;
  }